{% extends 'base.html.twig' %}

{% block title 'Sujet' %}

{% block body %}
    {{ include('subjects/subjectSingle.html.twig', { 'subject': subject }) }}
    {% for reply in subject.replies %}
        {{ include('subjects/ReplySubjectSingle.html.twig', { 'subject': subject }) }}
    {% endfor %}
    <form action="{{ path('subject_single', {id:subject.id}) }}" method="post" novalidate="novalidate">
    {{ form_widget(form) }}
    </form>
{% endblock %}